# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln
*.sln.docstates

# Rider
.idea/

# Visual Studio Code
.vscode/

# NuGet
packages/
*.nupkg
*.snupkg
*.nuspec
*.psmdcp

# Logs
*.log

# Backup e cache
*.bak
*.tmp
*.cache
*.pidb

# Arquivos gerados
*.dbmdl
*.opendb
*.log
*.err
*.orig
*.rej
*.DS_Store

# Publish
*.publish.xml
*.pubxml
*.pubxml.user

# Test Results
TestResults/
*.trx

# Outros
*.vsix
*.docstates
